<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" />
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <meta name="keywords" content="<%= @keywords %>">
  <meta name="description" content="<%= @description %>">
  <title><%= current_page.data.title || "The Middleman" %></title>

  <!--Stylesheets (include as necessary)-->
  <!--[if lte IE 9]>
  <link rel="stylesheet" href="ie.css" type="text/css" media="screen"/>
  <![endif]-->

  <%= stylesheet_link_tag "application", "all" %>
  <%= javascript_include_tag  "all" %>
</head>

  <body class="<%= page_classes %>"><div>

    <header role="main">
      
      <h1><a href="http://rumyrashead.com" rel="internal" title="Link back to the home of Rumyra's Head">Rumyra's Head</a></h1>

      <nav role="main">
        <a href="http://rumyrashead.com/category/brain-dribble/">Brain Dribble</a>
        <a href="http://rumyrashead.com/category/craft-code/">Craft &amp; Code</a>
        <!--<a href="http://rumyrashead.com/category/challenge-rumyra/">Challenge Rumyra</a>-->
        <a href="http://rumyrashead.com/category/speak-write-mentor/">Speak, Write, Mentor</a>
        <a href="mailto:sayhello@rumyrashead.com">Say Hello</a>
      </nav>
    </header>

    <section role="main">
      <aside role="banner">
      <!-- <form role="search" method="get" action="http://rumyrashead.com/">
        <fieldset><legend>Search Rumyra's Head</legend>
          <div class="form-field">
            <label for="s">Search term</label>
            <input type="text" placeholder="Search term" name="s" id="s">
          </div>
          <input type="submit" value="Search">
        </fieldset>
      </form> -->

      <nav role="complementary" class="nav-social">
        <a href="http://www.twitter.com/rumyra" rel="external" class="icon-make i-twitter">Follow @rumyra on Twitter</a>
        <a href="http://www.github.com/rumyra" rel="external" class="icon-make i-github">Rumyra on Github</a>
        <a href="mailto:sayhello@rumyrashead.com" class="icon-make i-email">Say Hello</a>
        <!--<a href="http://codepen.io/Rumyra" rel="external">Rumyra on Codepen</a>-->
        <a href="http://rumyrashead.com/feed/" class="icon-make i-rss">Get the RSS feed</a>
      </nav>
    </aside>

    <%= yield %>

    </section>

      <footer>
      <ul class="nav-social">
        <li><a href="http://www.twitter.com/rumyra" rel="external" class="icon-before i-twitter">Follow @rumyra on Twitter</a></li>
        <li><a href="http://lanyrd.com/profile/rumyra/" rel="external" class="icon-before i-tags">Rumyra on Lanyrd</a></li>
        <li><a href="http://www.github.com/rumyra" rel="external" class="icon-before i-github">Rumyra on Github</a></li>
        <li><a href="http://codepen.io/Rumyra" rel="external" class="icon-before i-codepen">Rumyra on Codepen</a></li>
        <li><a href="http://rumyrashead.com/feed/" class="icon-before i-rss">Get the RSS feed</a></li>
        <li><span class="icon-before i-mobile">Say hello by text on +441287 244048</span></li>
      </ul>
      <p><span>© Rumyra's Head 2015</span><!--<a href="http://www.ruthjohn.com" rel="external">-->Theme by Ruth John</p>
      
    </footer>
  </div></body>
</html>