---
title: Rumyras Head
---

<% blog.articles[0...8].each do |article| %>
  <% if article.data.status == 'published' %>
  <article class="post-summary <%= article.data.category %>">
    <header>
      <% link_to(article.path) do %><h2><%= article.title %></h2><% end %>
      <time datetime="<%=article.data.date%>"><%= Date.parse(article.data.date).strftime('%B %e, %Y') %></time>
    </header>
    <div class="post-content">
      <%= article.summary %>
    </div>
    <a href="<%= article.url %>" class="link-fullart">Full Article</a>
  </article>
  <% end %>
<% end %>


<ul class="list-posts">
 <% blog.articles[9...-1].each do |article| %>
 <%= article %>
 <% if article.data.status == 'published' %>
   <li class="<%= article.data.category %>">
    <% link_to(article.path) do %>
      <h2><%= article.title %></h2>
      <p><%= Date.parse(article.data.date).strftime('%B %e, %Y') %> <span><%= article.data.author %></span></p>

    <% end %>
   </li>
   <% end %>
 <% end %>
</ul>
